@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  background: linear-gradient(180deg, #fff 0%, #f0f1ff 100%);
}

.overflow-wrapper {
  overflow-x: hidden;
  position: relative;
}
.container {
  width: 90%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: black;
}

ul li {
  list-style-type: none;
}

/*


Navigation 


*/

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.dark-btn {
  width: 167px;
  height: 56px;
  color: white;
  background-color: #13183f;
  border: none;
  border-radius: 28px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}

.dark-btn:hover {
  opacity: 0.8;
}

/*


Hero Area 


*/
.hero-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text h1 {
  color: #13183f;
  font-size: 56px;
  font-weight: 800;
}

.hero-text p {
  color: #83869a;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  margin-top: 2rem;
}

.hero-btn {
  width: 167px;
  height: 53px;
  color: white;
  background: var(
    --Gradient-1,
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%)
  );
  border: none;
  border-radius: 31px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: background 0.2s ease-in;
  margin-top: 2rem;
}

.hero-btn:hover {
  background: var(
    --Gradient-1-Hover,
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%)
  );
}

.hero-desktop-img {
  margin-right: -1rem;
  margin-top: -15rem;
}
/*


MediaQuerry


*/
@media screen and (max-width: 320px) {
  .dark-btn {
    width: 130px;
    height: 40px;
    font-size: 14px;
  }
}
