@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  font-family: "Hanken Grotesk", sans-serif;
}

.container {
  width: 700px;
  display: flex;
  justify-content: center;
  border-radius: 1.25rem;
  /* border: solid black; */
  box-shadow: 1px 1px 5px 0px black;
  margin-bottom: 20px;
}

.left {
  color: white;
  padding: 1.25rem;
  width: 40%;
  border-radius: 1.25rem;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left h4 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 20px;
  color: hsl(241, 100%, 89%);
}

.score-left {
  width: 160px;
  height: 160px;
  border-radius: 100%;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  box-shadow: inset 1px 1px 12px 0px hsla(256, 72%, 46%, 1);
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.big-score {
  color: white;
  font-weight: bold;
  font-size: 60px;
}

.left h3 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 25px;
}

p {
  text-align: center;
  color: hsl(241, 100%, 89%);
  font-size: 14px;
  margin-bottom: 1rem;
}
.right {
  width: 60%;
  padding: 1.25rem;
}

.right h4 {
  font-size: 20px;
  margin-bottom: 1rem;
}

.scores {
  /* border: solid black; */
  padding: 1.25rem;
}

.score {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  /* border: solid black; */
  border-radius: 0.5rem;
}

.reaction {
  background-color: hsl(0, 100%, 87%);
}

.reaction .reaction {
  color: hsl(0, 100%, 67%);
}

.memory {
  background-color: hsl(39, 100%, 90%);
}
.memory .memory {
  color: hsl(39, 100%, 56%);
}

.verbal {
  background-color: hsl(166, 100%, 87%);
}

.verbal .verbal {
  color: hsl(166, 100%, 37%);
}

.visual {
  background-color: hsl(234, 85%, 75%);
}

.visual .visual {
  color: hsl(234, 85%, 45%);
}

.score-con span {
  font-weight: bold;
}

.score img {
  margin-right: 0.5rem;
  height: 15px;
}

.score .black-text {
  font-weight: 900;
}

.score .grey-text {
  color: hsl(224, 30%, 27%);
}

button {
  width: 250px;
  height: 35px;
  border-radius: 1.25rem;
  color: white;
  background-color: hsl(224, 30%, 27%);
  font-weight: 600;
  margin-left: 60px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
